﻿body {
    display: flex;
}

div#Minesweeper {
    background-color: #808080;
    flex-direction: column;
}

div#gameBoard {
    display: flex;
}

h2 {
    text-align: center;
}

div #Container {
    background-color: #808080;
    left: 50%;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}

div#containerButtons {
    display: flex;
    flex-direction: column;
}

div[id*=row] {
    display: -webkit-box;
}

div[id*=Square] {
    height: 15px;
    width: 15px;
    margin: 1px;
    text-align: center;
}


div.hidden {
    background-color: rgb(201, 201, 201);
}

div.bombExpected {
    background-color: orange;
}

div.bomb {
    background-color: red;
}


div.surround {
    background-color: white;
}

button {
    height: 25px;
    width: 70px;
    margin: 1px;
    text-align: center;
    padding: 2px;
}


div#clock {
    margin-top: 20px;
    height: 20px;
    width: 70px;
    border: 2px solid;
    background-color: white;
    text-align: center;
}

div#nrBombs {
    margin-top: 20px;
    height: 20px;
    width: 70px;
    border: 2px solid;
    text-align: center;
    background-color: white;
}
